<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title><%= title %></title>
    <meta name="description" content="<%= body %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= body %>">
    <meta property="og:site_name" content="<%= title %>">
  </head>
  <body>
    <div><%= body %></div>
  </body>
</html>
